.main_content {
  display: flex;
  border-style: double;
  border-color: gray;
  border-radius: 5px;
  flex-grow: 2;
  flex-basis: auto;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
