.form_section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.education_info {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.add_btn {
  margin-top: 0.5rem;
  margin-left: 2rem;
  width: 30%;
  cursor: pointer;
  transition: 0.1s;
}

.add_btn:hover {
  background-color: rgb(41, 41, 41);
  color: white;
}

input {
  margin-top: 0.5rem;
}
