.section_header {
  color: black;
  font-size: 1.5rem;
}

.education_preview_section {
  width: 90%;
  margin-top: 1rem;
}

.education_group {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  justify-content: space-between;
}

.school {
  font-weight: 600;
}

.dates {
  display: flex;
}

.date {
  font-weight: 500;
  font-family: cursive;
}
